/*style for pod section */
.podContainer{
	margin: 0 auto;
	width: 70%;
	border: 2px solid #000000;
	background-color: #dcdcdc;
	padding: 10px;
	overflow: auto;
}
.pods{
	margin: 30px;
	width: 18%;
    text-align: center;
	height: 130px;
	border: 1px solid #000000;
	background-color: #ffffff;
	padding-top: 20px;
	float: left;
}
.pod-image{
	width: 70px;
	height: 70px;
}
/*style for details section */
.details-sec{
	padding: 10px;
	margin: 0 auto;
	border: 2px solid #000000;
	margin-top: 10px;
	width: 70%;
}
.details-text{
	font-weight: bold;
}